{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="body">
    <div class="text-center" style="padding-top: 100px;">
        <h3>
            This site enables you to store your opionated blogs as per your perspectives. 
            
        </h3>
        <h3>
            Give other people a test of your feel!
        </h3>
        <h3>
            This is a free appliation, your have the right to share your opionated mind here.
        </h3>
        <h1>
            Lets hear what you have!
        </h1>
    </div>
</div>
{% endblock %}